main.aux
main.log
main.out
main.toc
main.bbl
main.blg
main.fls
main.fdb_latexmk
main.synctex.gz
main.pdf
*.synctex.gz
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.lof
*.lot
*.idx
*.ilg
*.ind
*.bcf
*.run.xml
*.dvi
*.ps
**/auto
**/.latexcache
minted-*
__latexindent_temp*
Makefile